@import "../../assets/variables.scss";

.intro {
  grid-area: intro;
  justify-self: center;
  padding-bottom: 20px;
}

.introText {
  width: 600px;
  margin: 10px auto 0 auto;
  padding-top: 10px;
  border-top: 1px solid #f3f3f3;
  font-family: $specialFont;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;

  .highlight {
    color: $highlightColor;
  }

  a:hover {
    color: $bodyColor;
    opacity: 0.8;
    .highlight {
      color: $highlightColor;
    }
  }
}

.sayhelloEmail {
  text-align: center;
}
