.resumeProfile {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
}

// TODO: convert to use 'composes' 
.subLayout {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;
  overflow-y: scroll;
}

.subLayoutContent {
  width: calc(100% - 100px);
  max-width: 800px;
  padding: 0 50px;
  margin: 0 auto;
}