@import '../../assets/util/z-index.scss';

.layout {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 1fr;
  grid-template-areas: 'personal professional' 'intro intro';
  padding-top: 20vh;
}

.profile {
  align-self: end;

  img {
    height: 300px;
  }

  &.personal {
    grid-area: personal;
    justify-self: end;
  }

  &.professional {
    grid-area: professional;
    justify-self: start;
  }

  .profilePhoto {
    z-index: z("page");
    opacity: 0.8;
    transition: opacity 0.35s ease;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  .personalBg {
    right: 33px;
  }

  .personalUnderlay {
    right: 0;
  }

  .professionalBg {
    left: 30px;
  }

  .professionalUnderlay {
    left: 0;
  }

  .personalBg,
  .professionalBg {
    z-index: z("background");
    position: absolute;
    bottom: 4px;
  }
  
  .personalUnderlay,
  .professionalUnderlay {
    z-index: z("underlay");
    opacity: 1;
    position: absolute;
    bottom: 4px;
  }
}
