.layout
  display: grid
  grid-template-columns: 50vw 50vw
  grid-template-rows: 55vh 1fr
  grid-template-areas: 'personal professional' 'intro intro'

.sub-layout
  height: 100vh
  margin: 0 auto
  display: flex
  flex-direction: column

.content-wrapper
  flex-grow: 1
  overflow-y: scroll

.sub-layout-content
  width: 800px
  margin: 0 auto

.sub-layout-intro
  align-self: flex-end

.back-arrow-text
  display: none
  opacity: 0
  transition: opacity 0.25s ease 0.1s
  font-size: 1em

.back-arrow
  position: absolute
  margin-left: -40px
  display: block
  font-size: 1.2em
  line-height: 36px
  transition: color 0.35s ease, transform 0.1s ease
  color: rgba($bodyColor, 0.15)
  &:hover
    color: $highlightColor
    cursor: pointer
    transform: translateX(-53px)
    .back-arrow-text
      display: inline
      opacity: 1
